{{ form_start(form) }}

{{ form_widget(form) }}

{# {% for formPicture in form.restaurantPictures %}
   {{ form_widget(formPicture) }}
{% endfor %} #}

<button class="btn">{{ button_label|default('Valider') }}</button>

{{ form_end(form) }}
